#logo	{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin: 3 px solid black;
    margin-bottom: 10px;
	}
#menu ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 0px;
	margin: auto;
    text-align: center;
    width: 100%;
    height: 46px;
	background-color: #ffffff;
	list-style: none;
	}
#menu ul li {
	display: inline;
	}
#menu ul li a {
	padding: 12px 20px;
    display: inline-block;
	background-color: #ffffff;
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid #EDEDED;
	}
	
#menu ul li a:hover{
	background-color: #D6D6D6;
	color: 6D6D6D;
	border-bottom: 3px solid #F3BC2B;
	}